@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?wmpl4c');
    src:    url('fonts/icomoon.eot?wmpl4c#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?wmpl4c') format('truetype'),
        url('fonts/icomoon.woff?wmpl4c') format('woff'),
        url('fonts/icomoon.svg?wmpl4c#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-telegram:before {
    content: "\e900";
}
.icon-uniE000:before {
    content: "\e000";
}
.icon-uniE001:before {
    content: "\e001";
}
.icon-uniE002:before {
    content: "\e002";
}
.icon-uniE003:before {
    content: "\e003";
}
.icon-uniE004:before {
    content: "\e004";
}
.icon-uniE005:before {
    content: "\e005";
}
.icon-uniE006:before {
    content: "\e006";
}
.icon-uniE007:before {
    content: "\e007";
}
.icon-uniE008:before {
    content: "\e008";
}
.icon-uniE009:before {
    content: "\e009";
}
.icon-uniE00A:before {
    content: "\e00a";
}
.icon-uniE00B:before {
    content: "\e00b";
}
.icon-uniE00C:before {
    content: "\e00c";
}
.icon-uniE00D:before {
    content: "\e00d";
}
.icon-uniE00E:before {
    content: "\e00e";
}
.icon-uniE00F:before {
    content: "\e00f";
}
.icon-uniE010:before {
    content: "\e010";
}
.icon-uniE011:before {
    content: "\e011";
}
.icon-uniE012:before {
    content: "\e012";
}
.icon-uniE013:before {
    content: "\e013";
}
.icon-uniE014:before {
    content: "\e014";
}
.icon-uniE015:before {
    content: "\e015";
}
.icon-uniE016:before {
    content: "\e016";
}
.icon-uniE017:before {
    content: "\e017";
}
.icon-uniE018:before {
    content: "\e018";
}
.icon-uniE019:before {
    content: "\e019";
}
.icon-uniE01A:before {
    content: "\e01a";
}
.icon-uniE01B:before {
    content: "\e01b";
}
.icon-uniE01C:before {
    content: "\e01c";
}
.icon-uniE01D:before {
    content: "\e01d";
}
.icon-uniE01E:before {
    content: "\e01e";
}
.icon-uniE01F:before {
    content: "\e01f";
}
.icon-uniE020:before {
    content: "\e020";
}
.icon-uniE021:before {
    content: "\e021";
}
.icon-uniE022:before {
    content: "\e022";
}
.icon-uniE023:before {
    content: "\e023";
}
.icon-uniE024:before {
    content: "\e024";
}
.icon-uniE025:before {
    content: "\e025";
}
.icon-uniE026:before {
    content: "\e026";
}
.icon-uniE027:before {
    content: "\e027";
}
.icon-uniE028:before {
    content: "\e028";
}
.icon-uniE029:before {
    content: "\e029";
}
.icon-uniE02A:before {
    content: "\e02a";
}
.icon-uniE02B:before {
    content: "\e02b";
}
.icon-uniE02C:before {
    content: "\e02c";
}
.icon-uniE02D:before {
    content: "\e02d";
}
.icon-uniE02E:before {
    content: "\e02e";
}
.icon-uniE02F:before {
    content: "\e02f";
}
.icon-uniE030:before {
    content: "\e030";
}
.icon-uniE031:before {
    content: "\e031";
}
.icon-uniE032:before {
    content: "\e032";
}
.icon-uniE033:before {
    content: "\e033";
}
.icon-uniE034:before {
    content: "\e034";
}
.icon-uniE035:before {
    content: "\e035";
}
.icon-uniE036:before {
    content: "\e036";
}
.icon-uniE037:before {
    content: "\e037";
}
.icon-uniE038:before {
    content: "\e038";
}
.icon-uniE039:before {
    content: "\e039";
}
.icon-uniE03A:before {
    content: "\e03a";
}
.icon-uniE03B:before {
    content: "\e03b";
}
.icon-uniE03C:before {
    content: "\e03c";
}
.icon-uniE03D:before {
    content: "\e03d";
}
.icon-uniE03E:before {
    content: "\e03e";
}
.icon-uniE03F:before {
    content: "\e03f";
}
.icon-uniE040:before {
    content: "\e040";
}
.icon-uniE041:before {
    content: "\e041";
}
.icon-uniE042:before {
    content: "\e042";
}
.icon-uniE043:before {
    content: "\e043";
}
.icon-uniE044:before {
    content: "\e044";
}
.icon-uniE045:before {
    content: "\e045";
}
.icon-uniE046:before {
    content: "\e046";
}
.icon-uniE047:before {
    content: "\e047";
}
.icon-uniE048:before {
    content: "\e048";
}
.icon-uniE049:before {
    content: "\e049";
}
.icon-uniE04A:before {
    content: "\e04a";
}
.icon-uniE04B:before {
    content: "\e04b";
}
.icon-uniE04C:before {
    content: "\e04c";
}
.icon-uniE04D:before {
    content: "\e04d";
}
.icon-uniE04E:before {
    content: "\e04e";
}
.icon-uniE04F:before {
    content: "\e04f";
}
.icon-uniE050:before {
    content: "\e050";
}
.icon-uniE051:before {
    content: "\e051";
}
.icon-uniE052:before {
    content: "\e052";
}
.icon-uniE053:before {
    content: "\e053";
}
.icon-uniE054:before {
    content: "\e054";
}
.icon-uniE055:before {
    content: "\e055";
}
.icon-uniE056:before {
    content: "\e056";
}
.icon-uniE057:before {
    content: "\e057";
}
.icon-uniE058:before {
    content: "\e058";
}
.icon-uniE059:before {
    content: "\e059";
}
.icon-uniE05A:before {
    content: "\e05a";
}
.icon-uniE05B:before {
    content: "\e05b";
}
.icon-uniE05C:before {
    content: "\e05c";
}
.icon-uniE05D:before {
    content: "\e05d";
}
.icon-uniE05E:before {
    content: "\e05e";
}
.icon-uniE05F:before {
    content: "\e05f";
}
.icon-uniE060:before {
    content: "\e060";
}
.icon-uniE061:before {
    content: "\e061";
}
.icon-uniE062:before {
    content: "\e062";
}
.icon-uniE063:before {
    content: "\e063";
}
.icon-uniE064:before {
    content: "\e064";
}
.icon-uniE065:before {
    content: "\e065";
}
.icon-uniE066:before {
    content: "\e066";
}
.icon-uniE067:before {
    content: "\e067";
}
.icon-uniE068:before {
    content: "\e068";
}
.icon-uniE069:before {
    content: "\e069";
}
.icon-uniE06A:before {
    content: "\e06a";
}
.icon-uniE06B:before {
    content: "\e06b";
}
.icon-uniE06C:before {
    content: "\e06c";
}
.icon-uniE06D:before {
    content: "\e06d";
}
.icon-uniE06E:before {
    content: "\e06e";
}
.icon-uniE071:before {
    content: "\e071";
}
.icon-uniE072:before {
    content: "\e072";
}
.icon-uniE073:before {
    content: "\e073";
}
.icon-uniE074:before {
    content: "\e074";
}
.icon-uniE075:before {
    content: "\e075";
}
.icon-uniE076:before {
    content: "\e076";
}
.icon-uniE077:before {
    content: "\e077";
}
.icon-uniE078:before {
    content: "\e078";
}
.icon-uniE079:before {
    content: "\e079";
}
.icon-uniE07A:before {
    content: "\e07a";
}
.icon-uniE07B:before {
    content: "\e07b";
}
.icon-uniE07C:before {
    content: "\e07c";
}
.icon-uniE07D:before {
    content: "\e07d";
}
.icon-uniE07E:before {
    content: "\e07e";
}
.icon-uniE07F:before {
    content: "\e07f";
}
.icon-uniE080:before {
    content: "\e080";
}
.icon-uniE081:before {
    content: "\e081";
}
.icon-uniE082:before {
    content: "\e082";
}
.icon-uniE083:before {
    content: "\e083";
}
.icon-uniE084:before {
    content: "\e084";
}
.icon-uniE085:before {
    content: "\e085";
}
.icon-uniE086:before {
    content: "\e086";
}
.icon-uniE087:before {
    content: "\e087";
}
.icon-uniE088:before {
    content: "\e088";
}
.icon-uniE089:before {
    content: "\e089";
}
.icon-uniE08A:before {
    content: "\e08a";
}
.icon-uniE08B:before {
    content: "\e08b";
}
.icon-uniE08C:before {
    content: "\e08c";
}
.icon-uniE08D:before {
    content: "\e08d";
}
.icon-uniE08E:before {
    content: "\e08e";
}
.icon-uniE08F:before {
    content: "\e08f";
}
.icon-uniE090:before {
    content: "\e090";
}
.icon-uniE091:before {
    content: "\e091";
}
.icon-uniE092:before {
    content: "\e092";
}
.icon-uniE093:before {
    content: "\e093";
}
.icon-uniE094:before {
    content: "\e094";
}
.icon-uniE095:before {
    content: "\e095";
}
.icon-uniE096:before {
    content: "\e096";
}
.icon-uniE097:before {
    content: "\e097";
}
.icon-uniE098:before {
    content: "\e098";
}
.icon-uniE099:before {
    content: "\e099";
}
.icon-uniE09A:before {
    content: "\e09a";
}
.icon-uniE09B:before {
    content: "\e09b";
}
.icon-uniE09C:before {
    content: "\e09c";
}
.icon-uniE09D:before {
    content: "\e09d";
}
.icon-uniE09E:before {
    content: "\e09e";
}
.icon-uniE09F:before {
    content: "\e09f";
}
.icon-uniE0A0:before {
    content: "\e0a0";
}
.icon-uniE0A1:before {
    content: "\e0a1";
}
.icon-uniE0A2:before {
    content: "\e0a2";
}
.icon-uniE0A3:before {
    content: "\e0a3";
}
.icon-uniE0A4:before {
    content: "\e0a4";
}
.icon-uniE0A5:before {
    content: "\e0a5";
}
.icon-uniE0A6:before {
    content: "\e0a6";
}
.icon-uniE0A7:before {
    content: "\e0a7";
}
.icon-uniE0A8:before {
    content: "\e0a8";
}
.icon-uniE0A9:before {
    content: "\e0a9";
}
.icon-uniE0AA:before {
    content: "\e0aa";
}
.icon-uniE0AB:before {
    content: "\e0ab";
}
.icon-uniE0AC:before {
    content: "\e0ac";
}
.icon-uniE0AD:before {
    content: "\e0ad";
}
.icon-uniE0AE:before {
    content: "\e0ae";
}
.icon-uniE0AF:before {
    content: "\e0af";
}
.icon-uniE0B0:before {
    content: "\e0b0";
}
.icon-uniE0B1:before {
    content: "\e0b1";
}
.icon-uniE0B2:before {
    content: "\e0b2";
}
.icon-uniE0B3:before {
    content: "\e0b3";
}
.icon-uniE0B4:before {
    content: "\e0b4";
}
.icon-uniE0B5:before {
    content: "\e0b5";
}
.icon-uniE0B6:before {
    content: "\e0b6";
}
.icon-uniE0B7:before {
    content: "\e0b7";
}
.icon-uniE0B8:before {
    content: "\e0b8";
}
.icon-uniE0B9:before {
    content: "\e0b9";
}
.icon-uniE0BA:before {
    content: "\e0ba";
}
.icon-uniE0BB:before {
    content: "\e0bb";
}
.icon-uniE0BC:before {
    content: "\e0bc";
}
.icon-uniE0BD:before {
    content: "\e0bd";
}
.icon-uniE0BE:before {
    content: "\e0be";
}
.icon-uniE0BF:before {
    content: "\e0bf";
}
.icon-uniE0C0:before {
    content: "\e0c0";
}
.icon-uniE0C1:before {
    content: "\e0c1";
}
.icon-uniE0C2:before {
    content: "\e0c2";
}
.icon-uniE0C3:before {
    content: "\e0c3";
}
.icon-uniE0C4:before {
    content: "\e0c4";
}
.icon-uniE0C5:before {
    content: "\e0c5";
}
.icon-uniE0C6:before {
    content: "\e0c6";
}
.icon-uniE0C7:before {
    content: "\e0c7";
}
.icon-uniE0C8:before {
    content: "\e0c8";
}
.icon-uniE0C9:before {
    content: "\e0c9";
}
.icon-uniE0CA:before {
    content: "\e0ca";
}
.icon-uniE0CB:before {
    content: "\e0cb";
}
.icon-uniE0CC:before {
    content: "\e0cc";
}
.icon-uniE0CD:before {
    content: "\e0cd";
}
.icon-uniE0CE:before {
    content: "\e0ce";
}
.icon-uniE0CF:before {
    content: "\e0cf";
}
.icon-uniE0D0:before {
    content: "\e0d0";
}
.icon-uniE0D1:before {
    content: "\e0d1";
}
.icon-uniE0DD:before {
    content: "\e0dd";
}
.icon-uniE0F3:before {
    content: "\e0f3";
}
.icon-uniE0F4:before {
    content: "\e0f4";
}
.icon-uniE105:before {
    content: "\e105";
}
.icon-uniE152:before {
    content: "\e152";
}
.icon-uniE24D:before {
    content: "\e24d";
}
.icon-uniE257:before {
    content: "\e257";
}
.icon-uniE29C:before {
    content: "\e29c";
}
.icon-uniE2A1:before {
    content: "\e2a1";
}
.icon-uniE2C7:before {
    content: "\e2c7";
}
.icon-uniE35E:before {
    content: "\e35e";
}
.icon-uniE35F:before {
    content: "\e35f";
}
.icon-uniE600:before {
    content: "\e600";
}
.icon-uniE601:before {
    content: "\e601";
}
.icon-uniE602:before {
    content: "\e602";
}
.icon-uniE603:before {
    content: "\e603";
}
.icon-uniE604:before {
    content: "\e604";
}
.icon-uniE605:before {
    content: "\e605";
}
.icon-uniE606:before {
    content: "\e606";
}
.icon-uniE607:before {
    content: "\e607";
}
.icon-uniE608:before {
    content: "\e608";
}
.icon-uniE609:before {
    content: "\e609";
}
.icon-uniE60A:before {
    content: "\e60a";
}
.icon-uniE60B:before {
    content: "\e60b";
}
.icon-uniE60C:before {
    content: "\e60c";
}
.icon-whatsapp:before {
    content: "\ea93";
}
.icon-uniF0F6:before {
    content: "\f0f6";
}
.icon-uniF0F7:before {
    content: "\f0f7";
}
.icon-uniF15C:before {
    content: "\f15c";
}

