-extends 'smartmin/form.html'
-load smartmin
-load i18n

-block form-span
  span8

-block title-icon
  .title-icon
    %span.glyph.icon-coins

-block title-text
  .title-text
    %h1
      -trans "Subscription success"

-block extra-script
  {{block.super}}

-block content
  .{style:"margin:30px 0;"}
    -blocktrans
      Thank you. Your subscription was received. If your credits still doesn't are available, please, contact administrator.

-block extra-style
  {{block.super}}
