-extends 'smartmin/form.html'

-load compress temba smartmin i18n

-block form-span

-block title-text
  .title-text
    %h1
      -trans "Global Constants"

-block summary
  -trans "Set Organization Constants"

-block pre-form
  -blocktrans
    Put a text in JSON format to save organization constants
  %hr

-block fields
  {{ block.super }}

-block extra-style
  :css
    #id_org_constants {
      width: 500px;
      height: 250px;
      resize: none;
    }
