-extends "smartmin/form.html"
-load i18n

-block extra-script
  {{ block.super }}

  :javascript
    $(function(){
      $("#id_country").select2({
        placeholder: "Select a country"
      });
      $("#id_carrier").select2({
        placeholder: "Select an operator"
      });
      $("#id_method").select2({ minimumResultsForSearch: -1 });

      var select_ = $("select#id_country");
      select_.change(function(){
        var value = select_[0][select_[0].selectedIndex].value;
          $("#id_carrier").select2("val", null);
            $.ajax({
              type: 'get',
              dataType: 'json',
              data: 'country=' + value,
              url: '/channels/utils/carriers/',
              success: function(result){
                var options = "";
                for (var i = 0; i < result.length; i++) {
                  options += "<option value=" + result[i]['id'] + ">" + result[i]['text'] + "<br>";
                }
                $("select#id_carrier").html(options);
              }
            });
        });
    });

-block title

  -if whatsapp_request_confirmation
    .pull-right
      %a.btn{href:"javascript:history.back(-1);"}
        -trans "Back"

  .medium-help.icon-whatsapp.float-left

  %h2.font_normalize.header-margin
    -trans "Connect WhatsApp"

-block pre-form
  .info
    %p
      -blocktrans
        After entering your data, you will to received a message in your cell phone with activation code. This code should will to be inserted again here.

  -if whatsapp_cc and whatsapp_phone and whatsapp_confirmation and not whatsapp_request_confirmation
    .info
      %p
        -blocktrans
          Your current data in session: CC ({{ whatsapp_cc }}) and Phone ({{ whatsapp_phone }})

      %a.btn{href:"{% url 'channels.channel_claim_whatsapp' %}?whatsapp_confirmation=True"}
        -trans "Insert confirmation code"

    .divider

-block extra-style
  {{ block.super }}

  :css
    #s2id_id_country {
      width: 370px;
    }

    .info {
      width: 800px;
      margin-bottom: 20px;
    }

    .medium-help {
      font-size: 50px;
      height: 50px;
    }

    .header-margin {
      margin-left: 60px;
    }

    .help-block {
      margin-left:150px;
      margin-bottom:20px;
    }

    .form-group {
      margin-bottom:15px;
    }

    .divider{
      width: 100%;
      height: 1px;
      background-color: #CCC;
      margin: 40px 0;
    }

    #s2id_id_carrier{
      width: 370px;
    }
