-extends "smartmin/form.html"
-load i18n compress temba

-block title
  .medium-help.icon-gcm.float-left

  %h2.font_normalize.header-margin
    -trans "Connect Google Cloud Messaging"

-block pre-form
  .info
    %p
      -blocktrans with name=brand.name
        You can to connect using a <a href="https://developers.google.com/cloud-messaging/" target="_blank">Google Cloud Messaging App</a> to your {{ name}} account to automate sending notifications.
    %p
      -blocktrans
        You will need to create a new App on Google Console and get its API Key. To do so:

-block extra-style
  {{ block.super }}

  :css

    .info {
      width: 800px;
      margin-bottom: 20px;
    }

    .help-block {
      margin-left:150px;
      margin-bottom:20px;
    }

    .form-group {
      margin-bottom:15px;
    }

    #id_auth_token {
      width: 340px;
    }
